{% extends 'base.html' %}  

{% block contents %}    

<style>
    #title{
        font-size: 30px;
    }
    #photo{
        text-align: left;
        block-size: 6cm;
        height: 4cm;
        border: 20px;
        background-color: lavender;
    }
    #name{
        font-size: 20px;
    }
    #nperson{
        font-size: 20px;
    }
    #more{
        font-size: 15px;
        
    }
</style>
<br>
<h1><center>▼ 공동 구매할 수 있는 품목들 ▼</center></h1>
<br>

{% for board in boards.all %}
    <div class="boardcontainer" style="border-bottom-style: dotted;border-bottom-color:lightskyblue;">
        <span id="photo"> 사진 {{board.photo}}</span>
        <span id="title">제목: {{board.title}}</span><br>
        <span id="name">총대 이름: {{board.product_name}}</span>>
        <span id="nperson">n/ {{board.person_num}}(현재인원/최대인원)</span><br>
        <span id="more"><a href="{% url 'detail' %}">상세보기</a></span>
    </div>
{% endfor %}



{% endblock %}