{% extends 'base.html' %}  

{% block contents %}    

<style>
    #productlist{
        color:#ff5c33;
    }
    #titlee{
        font-size: 30px;
        color:#ff5c33;
        
    }
    #photo{
        text-align: left;
        block-size: 6cm;
        height: 4cm;
        border: 20px;
        background-color: lavender;
    }
    #name{
        font-size: 20px;
    }
    #nperson{
        font-size: 20px;
    }
    #price{
        font-size: 20px;
    }
    #more{
        font-size: 15px;
        
    }
</style>
<div class="container">
<br>
<div  class="container" id="productlist">
    <h1><center>PRODUCT LIST</center></h1>
</div>    
<br>

{% for board in boards.all %}
    <div class="boardcontainer" style="border-bottom-style: dotted;border-bottom-color:#ff5c33;background-color:white; margin : 20px;">
        <br>
        <span id="photo"> <img src="{{board.photo.url}}" style="height: 150px; width: 150px;"></span>        
        <span id="titlee"> {{board.title}}</span><br>
        <span id="price">가격: {{board.price}}(원)</span>
        <span id="name">총대 이름: {{board.product_name}}</span>>
        <span id="nperson">n/ {{board.person_num}}(현재인원/최소인원)</span><br>
        <span id="more"><a href="{% url 'detail' board.id %}">DETAIL VIEW</a></span>
    </div>
{% endfor %}


</div>



{% endblock %}