
{% extends 'base.html' %}  

{% block contents %}    
<style>
    #detailview{
        color :  #ff5c33; 
        padding : 10px;
        text-align : center;
    }
    #board{
        font-size : 30px;
        font-size : 30px;
        border: 5px solid;
        border-color :  #ff5c33;
        position: relative;
        top:20%;
        margin-top:70px;
        padding:10px;
        width : 3000px;
        background-color : white;
    }
    #detail{
        text-align:left;
       
    }
    #click{
        text-align : right;
    }
    #back{
        text-align : right;
    }
    #comment{
        color :  #ff5c33;
        text-align: center;
    }
</style>
<!--인원현황 넣어야할듯-->
<div class="container" id="detailview">
    <br>
    <h1> DETAIL VIEW </h1>
</div>    
<div class = "container" id="detail">
    
        <div class="container" id="board">
            <img src="{{boards.photo.url}}" style="height: 200px; width: 200px;">
            <br>
            <p> 상품명 : {{ boards.product_name }}</p>
            <p> 수령 장소 :{{ boards.loation }}</p>
            <p> 최소 인원 :{{ boards.person_num }}</p> 
            <p> 가격 : {{ boards.price }}</p>
            <p> 상품 링크 :{{ boards.link }}</p>
            <p> 계좌번호 :{{ boards.account }}</p>
            <p> 입금 기한 :{{ boards.date_limit }}</p>
            <p> 상품 상세 설명 : {{ boards.explanation }}</p>
            
            <a id="back" class="btn btn-warning" href="{% url 'board'  %}" role="button">돌아가기</a>
            <br>
        </div>
    
</div>


<br>
<br>


<div class="container" id="comment">

    <h1>COMMENTS </h1>
</div>    
{% load disqus_tags%}
{% disqus_show_comments %}

{% endblock %}
