{% extends 'base.html' %} 


{% block contents %}

<style>
      
    #container {
    background: url('../static/shopping.jpg') no-repeat;
    background-size: cover;
    height: calc(100vh - 72px);
    bottom: 0;
    }
    
</style>


<div id="container">
    {% load static %}
    <!--
    <a href="{% url 'input' %}" style="margin-left: 85px" >
    <img src="{% static 'shopping.png' %}" alt="이미지"> 
    
    </a>-->
    <!-- <img src= "{% static 'shopping.jpg' %}" id="bg" alt=""> -->
    <center>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <button type="button" class="btn btn-warning"><a style="font-size: 120%; color: white;" href="{% url 'input' %}">총대 등록하기</a></button>
    <button type="button" class="btn btn-warning"><a style="font-size: 120%; color: white;" href="{% url 'board' %}">보드로 가기</a></button>
    </center>   
    
</div>

{% endblock %}