{% extends 'base.html' %} 


{% block contents %}

<style>
    *{
        margin-left: 0;
    }
    body, html{
        margin: 0;
        padding: 0;
        height: 100%;
    }
    #letter{
        text-align : center;        
    }
    #bg{
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        background-size:cover;
    }
    img{
        width : 1300px;
        position:absolute;
        margin-left : 10%;
        margin-right : 10%;
        margin-bottom : 10%;
        margin-top:10%;
    }
    
    section{        
        
    }


</style>
<body>

    {% load static %}
    <!--
    <a href="{% url 'input' %}" style="margin-left: 85px" >
    <img src="{% static 'shopping.png' %}" alt="이미지"> 
    
<img src= "{% static 'shopping.jpg' %}" id="bg" alt="">
    </a>-->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    


</body>

{% endblock %}