{% extends 'base.html' %} 


{% block contents %}
<style>
 #detailview{
        color :  #ff5c33; 
        padding : 10px;
        text-align : center;
    }
    #ip{
        font-size : 30px;
        background-color : #ffebe6;
        position: relative;
        top:20%;
        margin-top:2%;
        margin-right:40%;
        width : 120% ;
     
    }

    #text{
        width : 100%;
        hegit: 100% ;
    }

</style>
<title>input form</title>
<div class="container" id="detailview">
    <br>
    <br>
    <h1> INPUT FORM </h1>
</div>  
<div class = "container" id ="inputform">

    <form action="{% url 'inputform' %}" method = "POST" enctype="multipart/form-data"><!--inputform = create-->
        {% csrf_token %}
            <div class="form-row" id ="ip">
              <div class="form-group col-md-4">  <!--12개의 div중 4개 만큼 자리차지-->
                <label>글 제목 </label>
                <input type="text" class="form-control-sm" name='title' id ="text">
              </div><br>
            </div>

            <div class="form-row" id="ip">
              <div class="form-group col-md-4" >
                <label>상품 이름</label>
                <input type="text" class="form-control-sm" name='product_name' id='box'>
              </div>
            </div>

            <div class="form-row" id ="ip">
                <div class="form-group col-md-4">
                    <label>최소 공구 인원</label>
                    <input type="text" class="form-control-sm" placeholder=" N 명" name='person_num' id="box">
                </div>
            </div>
            <div class="form-row" id ="ip">
                <div class="form-group col-md-4">
                    <label>가격</label>
                    <input type="text" class="form-control-sm" placeholder=" 000 원 " name='price' id='box'>
                </div>
            </div>

            <div class="form-row" id ="ip">
                 

                <div class="form-group col-md-4">
                    <label>계좌 번호</label>
                    <input type="text" class="form-control-sm" name='account ' id='box'>
                </div>

          
                
            </div>
            
            <div class="form-row" id ="ip">
                 

               
                <div class="form-group col-md-4">
                        <label>상품 수령 장소</label>
                        <input type="text" class="form-control-sm" name='location'>
                    </div>   
                
            </div>

            
              <div class="form-row" id="ip">
                <div class="form-group col-md-4">
                    <label>입금 기한</label>
                    <input type="date" class="form-control-sm" name='date_limit'>
                </div>
         
            </div>
            <div class="form-row" id="ip">
           
                <div class="form-group col-md-4">
                    <label>상품 링크</label>
                    <input type="text" class="form-control-sm" name='link' id="text">
                </div>         
                <br>
            </div>

            <div class="form-row" id = "ip">
                <div class="form-group col-md-4">
                      <label>설명 </label>
                      <input type="text" class="form-control-sm" name='explanation' id="text">
                </div>
            </div>
            
            
            <div class="card" style="width: 18rem; height: 7rem;" id="ip">
                <div class="form-group">    
                    <br>                
                    <input type="file" class="form-control-file" name='photo'>
                </div>                   
            </div>
                 
            <br>
            <br>
            <button id ="button"type="submit" onclick="alert('공구 등록 완료!')" value="공구 등록" class="btn btn-warning">공구 등록하기</button>

    </form>

</div>

{% endblock %}