{% extends 'base.html' %} 


{% block contents %}

<div class = "container">
    <br><br>
    <form>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label>글 제목 </label>
                <input type="text" class="form-control-sm">
              </div><br>
            </div>

            <div class="form-row">
              <div class="form-group col-md-4">
                <label>상품 이름</label>
                <input type="text" class="form-control-sm">
              </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>상품 수령 장소</label>
                    <input type="text" class="form-control-sm">
                </div>   
                <div class="form-group col-md-4">
                    <label>최소 공구 인원</label>
                    <input type="text" class="form-control-sm" placeholder=" N 명">
                </div>
                <div class="form-group col-md-4">
                    <label>가격</label>
                    <input type="text" class="form-control-sm" placeholder=" 000 원 ">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>상품 링크</label>
                    <input type="text" class="form-control-sm">
                </div>         
                <div class="form-group col-md-4">
                    <label>계좌 번호</label>
                    <input type="text" class="form-control-sm">
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>입금 기한</label>
                    <input type="date" class="form-control-sm">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                      <label>설명 </label>
                      <input type="text" class="form-control-sm">
                </div>
            </div>
      

            <form>
            <div class="card" style="width: 18rem; height: 7rem;">
                <div class="form-group">
                    <br>                    
                    <label>상품의 사진을 올려주세요</label>
                    <input type="file" class="form-control-file">
                </div>
            </div>
            </form>

            <button type="submit" class="btn btn-primary">공구 등록하기</button>
    </form>

</div>

{% endblock %}