{% extends 'base.html' %}

{% block contents %}
<style>
    #mypage{
     color :  #ff5c33; 
        padding : 10px;
        text-align : center;
}
    #login{
        font-size : 29px;
        text-align: center;
        border: 5px solid;
        border-color :  #ff5c33;
        position: relative;
        top:20%;
        margin-top:250px;
        padding:10px;
        width : 3000px;
        background-color : white;
    }
</style>

<div class="container" id ="login">
    <br>
    <div class="container" id="mypage">

<h1>LOGIN</h1>  <br><br>
</div>
    <form method = "POST" action = "{% url 'login' %}">
        {% csrf_token %}
        ID :
        <input name="username" type="text" value="">
        <br><br>
        PASSWORD :
        <input name="password1" type="password" value="">
        <br><br>
        <br>
        <input name="btn btn-primary" type="submit" value="LOGIN">
        <br><br>
    </form>


</div>
{% endblock %}