{% extends 'base.html' %}  

{% block contents %}
<style>
#mypage{
     color :  #ff5c33; 
        padding : 10px;
        text-align : center;
}
#box{
     font-size : 30px;
        font-size : 30px;
        border: 5px solid;
        border-color :  #ff5c33;
        position: relative;
        top:20%;
        margin-top:70px;
        padding:10px;
        width : 3000px;
        background-color : white;
}
</style>
<div class="container" id="mypage">
<br><br>
<h1>MYPAGE</h1> <br><br>
</div>
<div class="container" id ="box">   


아이디: {{user.username}}<br><br>
닉네임: {{user.profile.nickname}}<br><br>
이메일: {{user.profile.email}}<br><br>
핸드폰: {{user.profile.phone_num}}<br><br>
학교: {{user.profile.school}}
</div>

{% endblock %}