{% extends 'base.html' %}

{% block contents %}
<style>
 #register{
     color :  #ff5c33; 
        padding : 10px;
        text-align : center;
}
#form{
    text-align: left;
    position: relative;    
    margin-left:350px;
    padding:10px;
    
}
    #reg{
        font-size : 24px;
        text-align: center;
        border: 5px solid;
        border-color :  #ff5c33;
        position: relative;
        top:20%;
        margin-top:150px;
        padding:10px;
        width : 3000px;
        background-color : white;
    }
</style>

<div class="container" id = "reg"> <!-- 겉에 빨간 애-->
    <br>

    <div class="container" id="register">
    <h1>REGISTER</h1> <br><br>
    </div>

<form method = "POST" action = "{% url 'register' %}" id ="form">
    {% csrf_token %} 
    아이디:    
    <input name="username" type="text" value="">
    <br><br>
    비밀번호:
   
    <input name="password1" type="password" value="">
    <br><br>
    비밀번호 확인:
  
    <input name="password2" type="password" value="">
    <br><br>

    닉네임:

    <input name="nickname" type="text" value="">
    <br><br>
    이메일:
  
    <input name="email" type="text" value="">
    <br><br>
    핸드폰 번호:
  
    <input name="phone_num" type="text" value="- 없이 입력">
    <br><br>
    학교:
 
    <input name="school" type="text" value="">
    <br>
         
    <br>    
    <input name="btn btn-primary" type="submit" value="회원가입 완료"><br><br>
</form>

   {{error}}<br>

</div>
{% endblock %}