{% extends 'base.html' %}

{% block contents %}
<style>
 #mypage{
     color :  #ff5c33; 
        padding : 10px;
        text-align : center;
}
    #reg{
        font-size : 20px;
        text-align: center;
        border: 5px solid;
        border-color :  #ff5c33;
        position: relative;
        top:20%;
        margin-top:250px;
        padding:10px;
        width : 3000px;
        background-color : white;
    }
</style>
<div class="container" id = "reg">
    <br>

<div class="container" id="mypage">

<h1>REGISTER</h1> 
</div>
<form method = "POST" action = "{% url 'register' %}">
    {% csrf_token %} 
    아이디:
    <br>
    <input name="username" type="text" value="">
    <br>
    비밀번호:
    <br>
    <input name="password1" type="password" value="">
    <br>
    비밀번호 확인:
    <br>
    <input name="password2" type="password" value="">
    <br>

    닉네임:
    <br>
    <input name="nickname" type="text" value="">
    <br>
    이메일:
    <br>
    <input name="email" type="text" value="">
    <br>
    핸드폰 번호:
    <br>
    <input name="phone_num" type="text" value="- 없이 입력">
    <br>
    학교:
    <br>
    <input name="school" type="text" value="">
    <br>
         
    <br>    
    <input name="btn btn-primary" type="submit" value="회원가입 완료">
</form>


</div>
{% endblock %}